header img {
  width: 100%;
}

.paragraph {
  padding: 1em;
  text-align: justify;
  text-justify: inter-word;
}

.imgContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
}

.imgContainer img {
  width: 10em;
  height: 10em;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.inputContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (10em)[2];
      grid-template-columns: repeat(2, 10em);
  gap: 1em;
  padding: 1em;
  margin-top: 1em;
}

.inputContainer div {
  width: 8em;
  height: 3em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inputContainer div input {
  width: 9em;
  height: 1em;
}

.inputContainer div h6 {
  margin: 6px;
}

.registrationBtn {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.emoji {
  font-size: 100px;
  margin-top: 6px;
}

#smileyFace {
  display: none;
}

@media (min-width: 992px) {
  .registrationContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 50px;
  }
  .emoji {
    font-size: 100px;
    margin-top: 10em;
  }
  .imgContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
  }
  .imgContainer img {
    width: 30em;
    height: 30em;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .inputContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (20em)[2];
        grid-template-columns: repeat(2, 20em);
    gap: 3em;
    padding: 3em;
    margin-top: 2em;
  }
  .inputContainer div {
    width: 20em;
    height: 6em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .inputContainer div input {
    width: 19em;
    height: 2em;
  }
  .inputContainer div h6 {
    margin: 6px;
    font-size: 1em;
  }
  .registrationBtn {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .registrationBtn button {
    margin-top: 2em;
    width: 6em;
    height: 3em;
  }
  .emojiContainer {
    margin-top: 4em;
  }
}
/*# sourceMappingURL=style.css.map */